extends layout_main

block content
    container.col-md-8

        br
        h2 Modifier la balise
    
        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/balises/update/"+balise.id, method="post").input-group.input-group-lg
            div.input-lg-8.input-lg
                input(type="text", name="nom", value=balise.nom, placeholder="Nom de la balise", required=true).form-control
            p.help-block exemple: HubHouse lille1-ouest pour etudiant info
            br
            div.input-lg-8.input-lg
                input(type="text", name="indice", value=balise.indice, placeholder="Indice de la balise", required=true).form-control
            p.help-block exemple: Entre l'arbre et le banc
            #e2a
                p Visibilité de la balise
                 div.input-lg-8.input-lg
                    .btn-group(data-toggle='buttons')
                        if(balise.public == 1)
                            label.btn.btn-success.active
                                input#option1(type='radio', name='mode_balise', value="1", autocomplete='off', checked='')
                                |  Public
                            label.btn.btn-success
                                input#option2(type='radio', name='mode_balise', value="0", autocomplete='off')
                                |  Privée
                        else
                            label.btn.btn-success
                                input#option1(type='radio', name='mode_balise', value="1", autocomplete='off')
                                |  Public
                            label.btn.btn-success.active
                                input#option2(type='radio', name='mode_balise', value="0", autocomplete='off', checked='')
                                |  Privée
            br
            #map
            br
            div.input-lg-8.input-lg
                input(type="text", name="latitude", value=balise.latitude, placeholder="Latitude" readonly)#lat.form-control
            p.help-block exemple: entre -90 et 90. Exemple: 50.6101406 (si positif, NORD)
            br
            div.input-lg-8.input-lg
                input(type="text", name="longitude", value=balise.longitude, placeholder="Longitude" readonly)#lng.form-control
            p.help-block exemple: Entre -180 et 180. Exemple 3.1412428 (si positif, EST)
            br
            div.actions
                if(session.admin || session.sid == balise.UserId)
                    input(type="submit", value="Mettre à jour la balise").btn.btn-success
                    | &nbsp; &nbsp;
                button.btn.btn-primary.btn-secondary(type='button', onclick="location.href='/balises/view/"+balise.id+"';") Annuler
                if (session.admin  || session.sid == balise.UserId)
                    | &nbsp; &nbsp;
                    button.btn.btn-default(type='button', onclick="location.href='/dal/balises/destroy/#{balise.id}';") Supprimer
            br
            br

        script(src='/js/map.js', type='text/javascript')
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCsYIFOc6SQMvtIYnlbLxkFt5AktvJeHOI&signed_in=true&callback=initMap')
