extends layout_main

block content
    container.col-md-12

        br
        h2 Les balises disponibles
        div
            a(href='/aide#balise' rel='help') Cliquez ici pour plus d'informations sur les balises
        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        br
        table.table.table-hover.table-bordered
            thead
                tr
                    th #
                    th Nom
                    th Indice
                    th Actions
                    th Position
                    th Création
                    th Mise à jour

            each balise in balises
                tr
                    td #{balise.id}
                    td
                        a(href="/balises/view/"+ balise.id) #{balise.nom}
                    td #{balise.indice}
                    td
                        a(href="/balises/view/"+ balise.id) Détail
                        if(session.admin || session.sid == balise.UserId)
                            | &nbsp;-&nbsp;
                            a(href="/balises/edit/"+ balise.id) Editer
                    td
                        a(target="_blank", href="http://google.com/maps/place/"+balise.latitude+","+balise.longitude) #{balise.latitude+", "+balise.longitude}
                    td #{balise.createdAt}
                    td #{balise.updatedAt}