extends layout_main

block content
    container.col-md-8

        br
        h2 Créer une balise
        br
        div
            p Pour plus d'informations concernant la création d'une balise,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations pour la création d'une balise:
                        br
                        br
                        | Lorsque vous créez une balise, veillez à avoir déjà crée la question associée.
                        br
                        | Toute balise possède une question. Plusieurs balises peuvent avoir la même question.
                        br
                        | Pour trouver la position GPS d'une position, vous pouvez utiliser&nbsp;
                        a(href='https://www.google.com/maps/') google maps
                        br
                        | Si vous souhaitez plus d'informations concernant les coordonnées géographiques, veuillez vous référer à&nbsp;
                        a(href='https://fr.wikipedia.org/wiki/Coordonn%C3%A9es_g%C3%A9ographiques') Wikipédia

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/balises/create", method="post").input-group.input-group-lg#bcreate
            #e1
                p Nom de la balise
                div.input-lg-8.input-lg
                    input(type="text", name="nom", placeholder="Nom de la balise", required=true).form-control
            br
            #e2
                p Indice
                div.input-lg-8.input-lg
                    input(type="text", name="indice", placeholder="Indice de la balise", required=true).form-control
            br
            #e2
                p Placez la balise sur la map
            br
            #map
            br
            #e3
                p Latitude
                div.input-lg-8.input-lg
                    input(type="text", name="latitude", placeholder="Latitude", readonly, required=true)#lat.form-control
            br
            #e4
                p Longitude
                div.input-lg-8.input-lg
                    input(type="text", name="longitude", placeholder="Longitude", readonly,  required=true)#lng.form-control
            br
            #e5
                div.actions
                    input(type="submit", value="Créer la balise").btn.btn-success
            br
            br
        script(src='/js/map.js', type='text/javascript')
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCsYIFOc6SQMvtIYnlbLxkFt5AktvJeHOI&signed_in=true&callback=initMap')
