extends layout_main

block content
    container.col-md-8

        br
        h2 Détail d'un parcour
        br
        div
            p Pour plus d'informations sur les parcours,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez cet l'encart
            #info.collapse
                .well
                    p Informations pour la création d'un parcour:
                        br
                        br
                        | Lorsque vous créez un parcour, veillez à avoir déjà crée les balises et les questions associées.
                        br
                        | Dans un premier temps vous créez le parcours, et ensuite vous y associerez des balises.

        hr

        div.input-group.input-group-lg
            br
            #e1
                p Le nom du parcour
                div.input-lg-8.input-lg
                    input(type="text", name="nom", value=parcour.nom, placeholder="nom du parcour" readonly).form-control
                p.help-block exemple: HubHouse lille1-ouest pour etudiant info
            br
            #e2
                p Le parcour est-il visible dans l'application mobile ?
                    | &nbsp; &nbsp;
                    if (parcour.actif == 1)
                        input(type="checkbox", name="actif", value="1" checked disabled)
                    else
                        input(type="checkbox", name="actif", value="1" disabled)
            #e3
                p Description
                div.input-lg-8.input-lg
                    input(type="textarea", name="description", value=parcour.description, placeholder="description du parcour" readonly).form-control
            br
            div.actions
                button.btn.btn-primary.btn-success(type='button', onclick="location.href='/parcours/edit/"+parcour.id+"';") modifier
            br
            br

        //
            h4 Les entrepreneurs associés à ce parcour
            br
            table.table.table-hover.table-bordered
                thead
                    tr
                        th #
                        th nom
                        th photo
                        th actions

                each entrepreneur in entrepreneurs_selected
                    tr
                        td #{entrepreneur.id}
                        td
                            a(href="/entrepreneurs/view/"+ entrepreneur.id) #{entrepreneur.prenom}&nbsp;#{entrepreneur.nom}
                        td
                            img(alt='photo', src='#{entrepreneur.photo}', style="max-height: 50px; max-width: 50px")
                        td
                            a(href="/entrepreneurs/view/"+ entrepreneur.id) Détails
                            | &nbsp;-&nbsp;
                            a(href="/entrepreneurs/edit/"+ entrepreneur.id) Editer

        //
            #e1
                p Ajouter un entrepreneur
                div.input-lg-8.input-lg
                    form(action="/dal/"+parcour.id+"/ptoe/create", method="post").input-group.input-group-lg
                        select(name="entrepreneur_id")
                            each nsent in entrepreneur_all
                                option(value="#{nsent.id}") #{nsent.prenom} #{nsent.nom}