extends layout_main

block content
    container.col-md-12

        br
        h2 Les parcours disponibles
        br
        div
            a(href="/aide#parcour") Cliquez ici pour plus d'informations sur les parcours
        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        br
        div(class="input-group")
            span(class="input-group-addon") Filtre
            input(id="filter",type="text",class="form-control",placeholder="Choisir un nom de parcours")
        table(class="table table-hover table-bordered", id="tabParcours")
            thead
                tr
                    th #
                    th Nom
                    th Description
                    th Etat
                    th Actions
                    th Créateur
                    th Création
                    th Mise à jour

            tbody(class="searchable")
                each parcour in parcours
                    tr
                        td #{parcour.id}
                        td
                            a(href="/parcours/view/"+ parcour.id, class="nom") #{parcour.nom}
                        td #{parcour.description}

                        if (parcour.actif == 1)
                            td actif
                        else
                            td inactif
                        td
                            a(href="/parcours/view/"+ parcour.id) Détail
                            if(session.sid == parcour.UserId || session.admin)
                                | &nbsp;-&nbsp;
                                a(href="/parcours/edit/"+ parcour.id) Editer
                        td #{parcour.User.username}
                        td #{parcour.createdAt}
                        td #{parcour.updatedAt}

      script(type="text/javascript").
          $('#filter').keyup(function () {
              var rex = new RegExp($(this).val(), 'i');
              $('.searchable tr').hide();
              $('.searchable tr').filter(function () {
                    return rex.test(this.children[1].textContent);
              }).show();

          })
