extends layout_main

block content
    container.col-md-12
        script(src='/js/parcours_create.js')
        br
        h2 Modifier le parcours
        br
        div
            p Pour plus d'informations sur les conséquences de ma modification d'un parcours,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations pour la création d'un parcours:
                        br
                        br
                        | Lorsque vous modifiez un parcours, ls balises et les questions ne sont pas affectées. Seul le parcours disparait.
                        | Si vous voulez supprimer les balises et les questions associées, vous devez le faire manuellement.

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        br
        h4 Information générales
        if (msg != undefined)
            .alert.alert-warning(role="alert") #{msg}
        form(action="/dal/parcours/update/"+parcour.id , method="post")
            #e1
                p Nom du parcours
                div.input-md-12
                    input(type="text", name="nom", value=parcour.nom).form-control
                    input(id="pId", type="hidden", name="idParcour", value=parcour.id)
                p.help-block exemple: HubHouse lille1-ouest pour etudiant info
            br
            #e2
                p Le parcours est-il visible dans l'application mobile ?
                    | &nbsp; &nbsp;
                    if (parcour.actif == 1)
                        input(type="checkbox", name="actif", value="1" checked)
                    else
                        input(type="checkbox", name="actif", value="1")
            br
            #e3
                p Description du parcours
                div.input-md-12
                    input(type="textarea", name="description", value=parcour.description, placeholder="description du parcours").form-control
            br
            #e4
                h4 Les entrepreneurs liés à ce parcours
                br
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Nom
                            th Actions
                    tbody#tabPtoe
            br
            #ee1
                p Ajouter un entrepreneur
                div.input-md-12(style="float:left; margin-right:8px;")
                    select.form-control(id="optEnt", name="entrepreneur_id")
                div.actions(style="float:left; margin-right:8px;")
                    input(id="addEnt", type="button", value="Ajouter cet entrepreneur").btn.btn-success
            br
            hr
            #e5
                h4 Les balises et questions de ce parcours
                br
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Nom balise
                            th Question
                            th Ordre
                            th Actions
                    tbody#tabPtobq
            br
            #eb1
                p Ajouter une balise, associée à une question, selon l'ordre souhaité
                div.input-md-12(style="float:left; margin-right:8px;")
                    select.form-control(id="optb", name="balise")
                div.input-md-12(style="float:left;margin-right:8px;")
                    select.form-control(id="optq", name="question")
                div.input-md-12(style="float:left; margin-right:8px;")
                    select.form-control(id="ordre", name="ordre")
                div.actions(style="float:left;")
                    input(id="addbq", type="button", value="Ajouter la balise").btn.btn-success
            br
            hr
            div.actions
                input(type="submit", value="Mettre à jour le parcours").btn.btn-success
                | &nbsp; &nbsp;
                button.btn.btn-primary.btn-secondary(type='button', onclick="location.href='/parcours/view/"+parcour.id+"';") Annuler
                if (session.admin)
                    | &nbsp; &nbsp;
                    button.btn.btn-default(type='button', onclick="location.href='/dal/parcours/destroy/#{parcour.id}';") Supprimer

            br