extends layout_main

block content
    container.col-md-8

        br
        br
        h2 Les parcours disponibles

        br
        b nom :
        | #{parcour.nom}
        br
        b description :
        | #{parcour.description}
        br
        br

        table.table.table-hover.table-bordered
            thead
                tr
                    th #
                    th balise
                    th question

            each balise in parcour.Balises
                tr
                    td #{balise.id}
                    td #{balise.nom}
                    td #{balise.question}

                    
       