extends layout_main

block content
    container.col-md-8

        br
        h2 Créer une question
        br
        div
            p Pour plus d'informations concernant les questions,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations concernant les questions:
                    br

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/questions/create", method="post", id="form").input-group.input-group-lg
            #e0
                p Type de question
                    div.input-lg-8.input-lg
                        #typeq.btn-group(data-toggle='buttons')
                                label.btn.btn-success.active
                                    input#normal(type='radio', name='typeq', value="0", autocomplete='off')
                                    |  Normal
                                label.btn.btn-success
                                    input#mystere(type='radio', name='typeq', value="1",  autocomplete='off')
                                    |  Mystère
            br
            #e0a
                p Choix du parcours
                    div#smq.input-lg-8.input-lg
                        select.form-control(id="optqm", name="pqm")
            br
            hr
            #e1
                p La question qui sera posée
                div.input-lg-8.input-lg
                    input(type="text", name="question", placeholder="Question").form-control
                p.help-block exemple: Quel est la couleur rose du cheval de napoléon ?
            br
            #e2
                p Le thème
                div.input-lg-8.input-lg
                    div(class="row col-lg-5")
                        select(id="selectTheme", class="form-control", name="selectTheme")
                          each theme in themes
                            option(value=theme.id) #{theme.nom}
                    input(id="addTheme", type="button", value="Ajouter thème",class="btn")
                    #newTheme
                        input(id="inputNewTheme", type="text", name="newTheme", placeholder="Nouveau thème...").form-control

            br
            #e2a
                p Visibilité de la question
                 div.input-lg-8.input-lg
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-success.active
                            input#option1(type='radio', name='mode_question', value="1", autocomplete='off', checked='')
                            |  Public
                        label.btn.btn-success
                            input#option2(type='radio', name='mode_question', value="0",  autocomplete='off')
                            |  Privé
            br
            #e3
                p L'objectif
                div.input-lg-8.input-lg
                    input(type="text", name="objectif", placeholder="Objectif").form-control
            br
            #e4
                p Le type de question
                div.input-lg-8.input-lg
                    select#type(name="type").form-control
                        option(value="QCU" selected) Question à choix unitaire
                        option(value="QCM") Question à choix multiple
            br
            #e5
                p Les Propositions de réponses et les réponses
                div.input-lg-8.input-lg
                    button.btn#plusProps(type="button") Ajouter Propositions
                    button.btn#moinsProps(type="button") Supprimer Propositions
                br
                #propsrep
                br
            br
            #e6
                p Les Retours que vous souhaitez renvoyer
                div.input-lg-8.input-lg
                    button.btn#plusRet(type="button") Ajouter Retour
                    button.btn#moinsRet(type="button") Supprimer Retour
                br
                #retours
                br
            br
            #diff
                p Difficulté de la question
                div.input-lg-8.input-lg
                    select(name="difficulte").form-control
                      option(value="1") Niveau 1
                      option(value="2") Niveau 2
                      option(value="3") Niveau 3
            br
            br
            div.actions
                input(type="submit", value="Créer la question").btn.btn-success
            br
            br
            .modal.fade(role='dialog', id='myModalCaution')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal') ×
                                        h4.modal-title Attention
                                    .modal-body
                                        p(class="alert alert-danger" id="paraModal")
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close
