extends layout_main

block content
    container.col-md-12

        br
        h2 Les questions disponibles
        br
        div
            p Pour plus d'informations concernant les questions,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations concernant les questions:
                    br

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        br
        div(class="input-group")
            span(class="input-group-addon") Filtre
            input(id="filter",type="text",class="form-control",placeholder="Choisir un thème")
        table(class="table table-hover table-bordered", id="tabQuestion")
            thead
                tr
                    th #
                    th Question
                    th Actions
                    th Theme
                    th Objectif
                    th Type
                    th Difficulté
                    th Création
                    th Mise à jour
            tbody(class="searchable")
                each question in questions
                    tr
                        td #{question.id}
                        td
                            a(href="/questions/view/"+ question.id) #{question.question}
                        td
                            a(href="/questions/view/"+ question.id) Détails
                            | &nbsp;-&nbsp;
                            a(href="/questions/edit/"+ question.id) Editer
                        td(class="theme") #{question.Theme.nom}
                        td #{question.objectif}
                        td #{question.type}
                        td #{question.difficulte}
                        td #{question.createdAt}
                        td #{question.updatedAt}

    script(type="text/javascript").
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                  return rex.test(this.children[3].textContent);
            }).show();

        })
