extends layout_main

block content
    container.col-md-8
        script(src='/js/propositions.js')
        br
        h2 Détail d'une question
           

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/questions/create", method="post").input-group.input-group-lg

            #e1
                p Question à poser
                div.row
                    div.input-lg-8.input-lg
                        textarea(name="question", placeholder="Question" readonly).form-control #{ question.question }
            br
            #e2
                p Le thème
                div.input-lg-8.input-lg
                    input(type="text", name="theme", value=question.Theme.nom, placeholder="Thème" readonly).form-control
            br
            #e2a
                p Visibilité de la question
                    div.input-lg-8.input-lg
                        .btn-group(data-toggle='buttons')
                            if(question.public == 1)
                                label.btn.btn-success.active
                                    input#option1(type='radio', name='mode_question', value="1", autocomplete='off', checked='')
                                    |  Public
                            else
                                label.btn.btn-success.active
                                    input#option2(type='radio', name='mode_question', value="0",  autocomplete='off', checked='')
                                    |  Privé
            br
            #e3
                p L'objectif
                div.input-lg-8.input-lg
                    input(type="text", name="objectif", value=question.objectif, placeholder="Objectif" readonly).form-control
            br
            #e4
                p Le type de question
                div.input-lg-8.input-lg
                    select#type(name="type" readonly).form-control
                        if (question.type == "QCM")
                            option(value="QCM" selected) Question à choix multiple
                        if (question.type != "QCM")
                            option(value="QCU" selected) Question à choix unitaire
            br
            #e5
                p Les Propositions de réponses et les réponses
                #propsrep
                    - var i = 0
                    - var j = 0
                    each prop in question.propositions
                        - i++
                        div.input-lg-8.input-lg
                            input(type="text", name="props", value="#{prop}" readonly ).form-control.answer-input
                            if(question.type == "QCM")
                                if( question.reponses[j] == i )
                                    input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}", checked, disabled)
                                    - j++
                                else
                                    input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}", disabled)
                            else
                                if( question.reponses[0] == i)
                                    input(type="radio", name="rqcu", class="radioqcu", value="#{i}" checked, disabled)
                                else
                                    input(type="radio", name="rqcu", class="radioqcu", value="#{i}", disabled)

                br
            br
            #e6
                p Les Retours que vous souhaitez renvoyer
                #retours
                    - var i = 0
                    each ret in question.retours
                        - i++
                        div.input-lg-8.input-lg
                            input(type="text", name="retour", value="#{ret}", readonly).form-control
                br
            br
            #diff
                p Difficulté de la question
                div.input-lg-8.input-lg
                    input(type="text", value=question.difficulte readonly).form-control

            br
        div.actions
            if(session.admin || session.sid == question.UserId)
                button.btn.btn-primary.btn-success(type='button', onclick="location.href='/questions/edit/"+question.id+"';") modifier
        br
        br
