extends layout_main

block content
    container.col-md-12

        br
        h2 Les questions disponibles
        br
        table.table.table-hover.table-bordered
            thead
                tr
                    th #
                    th question
                    th actions
                    th theme
                    th objectif
                    th type
                    th difficulté
                    th création
                    th mise à jour

            each question in questions
                tr
                    td #{question.id}
                    td
                        a(href="/questions/view/"+ question.id) #{question.question}
                    td
                        a(href="/questions/view/"+ question.id) Détails
                        | &nbsp;-&nbsp;
                        a(href="/dal/questions/destroy/"+ question.id) Supprimer
                        | &nbsp;-&nbsp;
                        a(href="/questions/edit/"+ question.id) Editer
                    td #{question.theme}
                    td #{question.objectif}
                    td #{question.type}
                    td #{question.difficulte}
                    td #{question.createdAt}
                    td #{question.updatedAt}