extends layout_main

block content
    container.col-md-8

        br
        h2 Editer une question
        br
        div
            p Pour plus d'informations concernant les questions,&nbsp;
                a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') lisez-en plus
            #info.collapse
                .well
                    p Informations concernant les questions:
                    br

        hr
        if (ok != undefined)
            .alert.alert-success(role="alert") #{ok}
        if (msg != undefined)
            .alert.alert-info(role="alert") #{msg}
        if (err != undefined)
            .alert.alert-warning(role="alert") #{err}
        form(action="/dal/questions/update/#{question.id}", method="post").input-group.input-group-lg
            #e1
                p Question à poser
                div.input-lg-8.input-lg
                    input(type="text", name="question", value=question.question, placeholder="Question").form-control
                p.help-block exemple: Quel est la couleur rose du cheval de napoléon ?
            br
            #e2
                p Le thème
                 div.input-lg-8.input-lg
                    div(class="row col-lg-5")
                        select(id="selectTheme", class="form-control", name="selectTheme")
                          each theme in themes
                            if(theme.nom == question.Theme.nom)
                                option(value=theme.id, selected) #{theme.nom}
                            else
                                option(value=theme.id
                                ) #{theme.nom}
                    input(id="addTheme", type="button", value="Ajouter thème",class="btn")
                    #newTheme
                        input(id="inputNewTheme", type="text", name="newTheme", placeholder="Nouveau thème...").form-control

            br
            #e2a
                p Visibilité de la question
                    div.input-lg-8.input-lg
                        .btn-group(data-toggle='buttons')
                            if(question.public == 1)
                                label.btn.btn-success.active
                                    input#option1(type='radio', name='mode_question', value="1", autocomplete='off', checked='')
                                    |  Public
                                label.btn.btn-success
                                    input#option2(type='radio', name='mode_question', value="0",  autocomplete='off')
                                    |  Privé
                            else
                                label.btn.btn-success
                                    input#option1(type='radio', name='mode_question', value="1", autocomplete='off')
                                    |  Public
                                label.btn.btn-success.active
                                    input#option2(type='radio', name='mode_question', value="0",  autocomplete='off', checked='')
                                    |  Privé
            br
            #e3
                p L'objectif
                div.input-lg-8.input-lg
                    input(type="text", name="objectif", value=question.objectif, placeholder="Objectif").form-control
            br
            #e4
                p Le type de question
                div.input-lg-8.input-lg
                    select#type(name="type").form-control
                        if (question.type == "QCM")
                            option(value="QCM" selected) Question à choix multiple
                            option(value="QCU") Question à choix unitaire
                        if (question.type == "QCU")
                            if(question.mystere == 1)
                                option(value="QCU" selected) Question à choix unitaire
                            else
                                option(value="QCM") Question à choix multiple
                                option(value="QCU" selected) Question à choix unitaire

            br
            #e5
                p Les Propositions de réponses et les réponses
                div.input-lg-8.input-lg
                    if(question.mystere == 1)

                    else
                        button.btn#plusProps(type="button") Ajouter Propositions
                        button.btn#moinsProps(type="button") Supprimer Propositions
                br
                #propsrep
                    - var i = 0
                    - var j = 0
                    each prop in question.propositions
                        - i++
                        div(id='pr'+i).input-lg-8.input-lg
                            if(question.mystere == 1)
                                input(type="text", name="props", value="#{prop}", disabled).form-control
                            else
                                input(type="text", name="props", value="#{prop}").form-control
                            if(question.type == "QCM")
                                if( question.reponses[j] == i )
                                    input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}", checked)
                                    input(type="radio", name="rqcu", class="radioqcu", value="#{i}")
                                    - j++
                                else
                                    input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}")
                                    input(type="radio", name="rqcu", class="radioqcu", value="#{i}")
                            else
                                if(question.mystere == 1)

                                else
                                    if( question.reponses[0] == i)
                                        input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}")
                                        input(type="radio", name="rqcu", class="radioqcu", value="#{i}" checked)
                                    else
                                        input(type="checkbox", name="rqcm", class="checkqcm", value="#{i}")
                                        input(type="radio", name="rqcu", class="radioqcu", value="#{i}")
                br
            br
            #e6
                p Les Retours que vous souhaitez renvoyer
                div.input-lg-8.input-lg
                    button.btn#plusRet(type="button") Ajouter Retour
                    button.btn#moinsRet(type="button") Supprimer Retour
                br
                #retours
                    - var i = 0
                    each ret in question.retours
                        - i++
                        div(id='ret'+i).input-lg-8.input-lg
                            input(type="text", name="retour", value="#{ret}").form-control
                br
            br
            #diff
                p Difficulté de la question
                div.input-lg-8.input-lg
                    select(name="difficulte").form-control
                        if (question.difficulte == 1)
                            option(value="1" selected) Niveau 1
                            option(value="2") Niveau 2
                            option(value="3") Niveau 3
                        if (question.difficulte == 2)
                            option(value="1") Niveau 1
                            option(value="2" selected) Niveau 2
                            option(value="3") Niveau 3
                        if (question.difficulte == 3)
                            option(value="1") Niveau 1
                            option(value="2") Niveau 2
                            option(value="3" selected) Niveau 3
            br
            div.actions
                if (session.admin || session.sid == question.UserId)
                    input(type="submit", value="Modifier la question").btn.btn-success
                    | &nbsp; &nbsp;
                button.btn.btn-primary.btn-secondary(type='button', onclick="location.href='/questions/view/"+question.id+"';") Annuler
                if (session.admin || session.sid == question.UserId)
                    | &nbsp; &nbsp;
                    button.btn.btn-default(type='button', onclick="location.href='/dal/questions/destroy/#{question.id}';") Supprimer
            br
            br